/target/
# ==============================
# 后端 Maven 编译产物
# ==============================
target/
*.jar
*.war

# ==============================
# 前端依赖库与打包缓存 (最关键！)
# ==============================
node_modules/
.cache/
dist/